.Rproj.user
.Rhistory
.RData
.Ruserdata
PING2.Rproj

#*.txt
*.html
*.css

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

input/tgp*
#filled_*
danillo*
allele_threshold*
copy_number*
kff_threshold_graphs*
Sequences/*.fastq
.Rhistory
Results*
GC_results
Caller_results*
african*
filled_kir_results*
indigo*
old_ping_kir_results*
subset_kir_results*
kff_threshold*
validation_test*
old_stuff*
test_sequence_output*
output*
workflow/.snakemake*
workflow/*cram*
data/GR*
# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
